# Created by .ignore support plugin (hsz.mobi)
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.iml
.gitignore
.idea/libraries/
.idea/vcs.xml
.idea/workspace.xml
annotations-solution/annotations-solution.iml
annotations/annotations.iml
aop-solution/aop-solution.iml
aop/aop.iml
javaconfig-dependency-injection-solution/javaconfig-dependency-injection-solution.iml
javaconfig-dependency-injection/javaconfig-dependency-injection.iml
jdbc-solution/jdbc-solution.iml
jdbc/jdbc.iml
jms-solution/jms-solution.iml
jms/jms.iml
jmx-solution/jmx-solution.iml
jmx/jmx.iml
jpa-spring-data-solution/jpa-spring-data-solution.iml
jpa-spring-data/jpa-spring-data.iml
ms-accounts-server-solution/ms-accounts-server-solution.iml
ms-accounts-server/ms-accounts-server.iml
ms-discovery-server-solution/bin/ms-discovery-server-solution (1).iml
ms-discovery-server-solution/ms-discovery-server-solution (2).iml
ms-discovery-server/ms-discovery-server.iml
ms-web-client-solution/ms-web-client-solution.iml
ms-web-client/ms-web-client.iml
mvc-solution/mvc-solution.iml
mvc/mvc.iml
parentCoreSpringProject.iml
rest-ws-solution/rest-ws-solution.iml
rest-ws/rest-ws.iml
rewards-common/rewards-common.iml
rewards-db/rewards-db.iml
security-solution/security-solution.iml
security/security.iml
spring-boot-solution/spring-boot-solution.iml
spring-boot-start/spring-boot-start.iml
spring-intro-solution/spring-intro-solution.iml
spring-intro/spring-intro.iml
test-solution/test-solution.iml
test/test.iml
tx-solution/tx-solution.iml
tx/tx.iml
xml-dependency-injection-best-practices-solution/xml-dependency-injection-best-practices-solution.iml
xml-dependency-injection-best-practices/xml-dependency-injection-best-practices.iml
xml-di-solution/xml-di-solution.iml
xml-di/xml-di.iml
